[package]
name = "common"
version = "0.1.0"
edition = "2021"

[dependencies]
serde_json = "1.0"
reqwest = { version = "0.11", features = ["blocking", "json", "rustls-tls"], default-features = false }
thiserror = "1.0"
